* {
  margin: 0;
  background-color: #fff6e6;
  --navbar-item-color: #706757;
  --body-background-color: #ffecc4;
  --navbar-login-button-background-color: #c5b1ff;
  --navbar-item-font-family: "Satisfy Playfair Display";
  --body-content-font-family: "Sporting Grotesque";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  width: 1440px;
}

header {
  width: 100%;
  margin-bottom: 170px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1134px;
  top: 0;
  padding: 36px 0;
  z-index: 100;
  transition: all 500ms ease;
  position: relative;
}

nav .logo {
  font-family: var(--body-content-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  /* line-height: 41px; */
  letter-spacing: -0.015em;

  color: #333028;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  z-index: 500;
}

nav ul li a {
  text-decoration: none;
  font-family: var(--navbar-item-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 21px; */

  color: #706757;
}

.btn {
  background: #c5b1ff;
  border: 1px solid #6e4cd1;
  padding: 15px 34px;
  gap: 10px;
  text-align: center;
  font-family: var(--navbar-item-font-family);
  font-weight: 500;
  font-size: 18px;
  /* line-height: 21px; */
  color: #000000;
  -webkit-box-shadow: 10px 10px 5px 0px #37246f;
  -moz-box-shadow: 10px 10px 5px 0px #37246f;
  box-shadow: 10px 10px 5px 0px #37246f;
}

header .body-main-content {
  width: 100%;
  font-family: var(--body-content-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  /* line-height: 102px; */
  text-align: center;
  letter-spacing: -0.055em;
  color: #333028;
}

header .money-symbol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.content {
  width: 100%;
  font-family: var(--navbar-item-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 152.52%; */
  text-align: center;
  color: #706757;
}

.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 50px;
}

.hero-section .left-group img {
  width: 100%;
  height: auto;
  object-fit: none;
  position: relative;
  z-index: 999;
}

.hero-section .right-group img {
  width: 100%;
  height: auto;
  object-fit: none;
  position: relative;
  z-index: 999;
}

header form {
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px #37246f;
  -moz-box-shadow: 10px 10px 5px 0px #37246f;
  box-shadow: 10px 10px 5px 0px #37246f;
}

header form input {
  font-family: var(--body-content-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 220%;
  padding: 8px 160px 8px 32px;
  border: none;
  width: 100%;

  background: #fffdfa;
  border: 1px solid #928672;
}

header form .submit-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #c5b1ff;
  border: 1px solid #6e4cd1;
  padding: 15px 34px;
  gap: 10px;
  text-align: center;
  font-family: var(--navbar-item-font-family);
  font-weight: 500;
  font-size: 18px;
  /* line-height: 21px; */
  color: #000000;
  cursor: pointer;
}

.hero-section .left-group {
  flex: 1;
}

.hero-section .middle-group {
  flex: 1;
}

.hero-section .right-group {
  flex: 1;
}

.hero-section .middle-group .investors-partner-section p {
  margin-top: 53px;
  font-family: var(--navbar-item-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  /* line-height: 26px; */
  text-align: center;
  color: #333028;
}

.hero-section .middle-group .investors-partner-section nav {
  margin-top: 21px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 23px;
  width: 422.28px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-section .middle-group .page-label-section {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;
  margin-top: 60.7px;
}

.hero-section .middle-group .page-label-section p {
  width: 164px;
  font-family: var(--navbar-item-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 17px; */
  letter-spacing: 0.035em;
  color: #706757;
  flex: none;
  order: 1;
  flex-grow: 0;
}

footer {
  margin-top: -200px;
  background: linear-gradient(
    180deg,
    rgba(255, 234, 197, 0.84) 0%,
    rgba(255, 255, 255, 0.84) 100%
  );
  backdrop-filter: blur(62px);
  padding: 70px 0;
  width: 100%;
}

footer .box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

footer .box-container.footer-wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

footer .box {
  background: rgba(255, 255, 255, 0.47);
  border: 1px solid #c8bba3;
  backdrop-filter: blur(18.5px);
  box-sizing: border-box;
  width: 279px;
}

footer .box h1 {
  padding: 26px 43px 0px 43px;
  font-family: var(--body-content-font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: rgb(51, 48, 40);
}

footer .box p {
  white-space: nowrap;
  padding: 0px 55px 28px 55px;
  font-family: var(--body-content-font-family);
  font-weight: 800;
  font-size: 18px;
  color: rgb(112, 103, 87);
  text-align: center;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

nav.mobile-nav,
.mobile-navbar-container {
  display: none;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 0px 100px;
  }

  #mobile-btn {
    background: #c5b1ff;
    border: 1px solid #6e4cd1;
    padding: 35px 60px;
    gap: 10px;
    text-align: center;
    font-family: var(--navbar-item-font-family);
    font-weight: 500;
    font-size: 55px;
    color: #000000;
    -webkit-box-shadow: 10px 10px 5px 0px #37246f;
    -moz-box-shadow: 10px 10px 5px 0px #37246f;
    box-shadow: 10px 10px 5px 0px #37246f;
  }

  nav {
    width: 100%;
    left: 0;
    right: 0px;
    padding: 40px 10px;
  }

  header .body-main-content {
    font-size: 70px;
  }

  .content {
    font-size: 30px;
  }

  .hero-section {
    flex-direction: column;
    margin-top: 15px;
    gap: 0px;
  }

  .hero-section .left-group img {
    z-index: 0;
  }

  .hero-section .right-group img {
    right: 98px;
    bottom: 35px;
    z-index: 0;
  }

  .hero-section .middle-group .investors-partner-section p {
    font-size: 28px;
  }

  .hero-section .middle-group {
    margin-top: 15px;
    order: 1;
  }

  .hero-section .left-group {
    order: 2;
  }

  .hero-section .right-group {
    order: 3;
  }

  footer {
    width: 1135px;
  }
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
  }

  #mobile-btn {
    background: #c5b1ff;
    border: 1px solid #6e4cd1;
    padding: 35px 60px;
    gap: 10px;
    text-align: center;
    font-family: var(--navbar-item-font-family);
    font-weight: 500;
    font-size: 55px;
    color: #000000;
    -webkit-box-shadow: 10px 10px 5px 0px #37246f;
    -moz-box-shadow: 10px 10px 5px 0px #37246f;
    box-shadow: 10px 10px 5px 0px #37246f;
  }

  .mobile-navbar-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-navbar-container.active {
    left: 0;
  }

  .hero-section .left-group img {
    z-index: 0;
  }

  .hero-section .right-group img {
    right: 98px;
    bottom: 35px;
    z-index: 0;
  }

  .mobile-navbar-container .close-icon {
    position: fixed;
    top: 34px;
    right: 110px;
    opacity: 0;
    pointer-events: none;
    /* it's can't be click */
    transition: all 400ms ease;
  }

  .mobile-navbar-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-navbar-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-navbar-container ul li {
    padding: 45px 0;
    margin: 0;
    text-align: center;
  }

  .mobile-navbar-container ul li a {
    text-decoration: none;
    font-size: 55px;
    background: none;
  }

  footer {
    width: 1200px;
  }

  footer .box p {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  nav.mobile-nav {
    padding: 32px;
  }

  .mobile-navbar-container .close-icon {
    right: 190px;
    top: 50px;
  }

  .hero-section .left-group img {
    z-index: 0;
  }

  .hero-section .right-group img {
    right: 98px;
    bottom: 35px;
    z-index: 0;
  }

  footer .box p {
    font-size: 14px;
  }

  #mobile-btn {
    background: #c5b1ff;
    border: 1px solid #6e4cd1;
    padding: 35px 60px;
    gap: 10px;
    text-align: center;
    font-family: var(--navbar-item-font-family);
    font-weight: 500;
    font-size: 55px;
    color: #000000;
    -webkit-box-shadow: 10px 10px 5px 0px #37246f;
    -moz-box-shadow: 10px 10px 5px 0px #37246f;
    box-shadow: 10px 10px 5px 0px #37246f;
  }
}
